{% extends 'homepage/base.html' %}
{% block content %}
<h1>PostgreSQL</h1>

<h5>Базовые команды</h5>
<pre>
    psql -c "create database db_name"
    psql -d ergu_reg_srvc -c "create schema stage;"
    psql -c "create user user_name with password '1234';"
    psql -c "grant all privileges on database db_name to user_name;"
    psql -d db_name -f /tmp/script.sql
</pre>

<h5>Импорт CSV</h5>
<pre>
    psql -d db_name -c "COPY public.table(column1,column2) FROM '/path/to/file.csv' WITH DELIMITER ';' CSV HEADER;"
</pre>

<p>Редактирование csv</p>
<pre>
    sed -i 's/,/;/g' file.csv
    sed -i 's/NULL//g' file.csv
</pre>

<pre>
    update public.table_name set column_1= NULL where column_1='';
    delete from схема.таблица where что то = чему то;
</pre>

<h5>Выдать права суперпользователя</h5>
<pre>
    ALTER USER user_name SUPERUSER;
    ALTER USER user_name NOSUPERUSER;
</pre>

<h5>Права пользователей</h5>
<p>Посмотреть права пользователей на таблицу</p>
<pre>
    select * from information_schema.table_privileges where table_name='table_name';
</pre>

<p>Выдать полные права пользователю на таблицу</p>
<pre>
    GRANT ALL ON TABLE table_name TO user_name;
</pre>

<p>Выдать права пользователю на схему</p>
<pre>
    GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO user_name;
    GRANT ALL ON SCHEMA STAGE TO user_name;
</pre>

<p>Выдавать права на чтение пользователю к таблице</p>
<pre>
    GRANT SELECT ON table_name to user_name;
    GRANT SELECT ON ALL TABLES IN SCHEMA public TO user_name;
</pre>


<h5>Размер таблицы</h5>
<pre>SELECT pg_size_pretty( pg_total_relation_size( '<b>table_name</b>' ) ); </pre>

<h5>Срез 20 табличек по размеру</h5>
<pre>
    SELECT
      schemaname AS schema_name,
      tablename AS table_name,
      pg_size_pretty(pg_total_relation_size(schemaname || '.' || tablename)) AS table_size
    FROM
      pg_tables
    WHERE
      schemaname NOT LIKE 'pg_%' AND
      schemaname != 'information_schema'
    ORDER BY
      pg_total_relation_size(schemaname || '.' || tablename) DESC LIMIT 20;
</pre>

<h5>Срез 20 бд по размеру</h5>
<pre>
    SELECT datname, pg_size_pretty(pg_database_size(datname)) AS size
    FROM pg_database
    WHERE datistemplate = false
    ORDER BY pg_database_size(datname) DESC
    LIMIT 20;
</pre>


<h5>Расположение конфига</h5>
<pre>
    SHOW config_file;
</pre>

<h5>Расположение pg_hba</h5>
<pre>
    SHOW hba_file;
</pre>

<h5>Значение из конфига</h5>
<pre>
    SHOW max_connections;
</pre>

<h5>Текущее значение</h5>
<pre>
    SELECT COUNT(*) FROM pg_stat_activity;
</pre>

<h5>Посмотреть что занимает подключения</h5>
<pre>
    SELECT application_name, COUNT(*)
    FROM pg_stat_activity
    GROUP BY application_name;
</pre>

<h5>Посмотреть процесс</h5>
<pre>
    SELECT * FROM pg_stat_activity WHERE pid = 25548
</pre>

<h5>Сбросить все подключения от бд</h5>
<pre>
    SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.pid != pg_backend_pid();
</pre>

<h5>Проверить слот репликации</h5>
<pre>
    select * from pg_replication_slots;
</pre>

<h5>LIKE / NOT LIKE</h5>
<pre>
    SELECT *
    FROM your_table
    WHERE your_column NOT LIKE 'паттерн%';
</pre>

<h5>Для того чтобы вывести уникальные значения из колонки и показать в каких колонках они повторяются</h5>
<pre>
    SELECT value, string_agg(column_name, ', ') AS columns
    FROM (
      SELECT column_name, value
      FROM (
        SELECT column_name, value, COUNT(*) OVER (PARTITION BY value) AS count
        FROM (
          SELECT column_name, value
          FROM your_table
        ) AS subquery
      ) AS subquery
      WHERE count > 1
    ) AS subquery
    GROUP BY value;
</pre>
<p5>Столбец "value" содержит уникальные значения из колонки, а столбец "columns" содержит список названий колонок, в которых эти значения повторяются.</p5>


<h4>ON CONFLICT DO UPDATE</h4>
<pre>
    CREATE TABLE stage.artemis_queue (
        broker varchar(40) NULL,
        queue varchar(40) NULL,
        CONSTRAINT qual_name UNIQUE (broker, queue)
    );
</pre>
<p5>запрос для такой бд</p5>
<pre>
    INSERT INTO stage.artemis_queue (broker, queue) VALUES ('int-01', 'TEST1' ) 
    ON CONFLICT (broker, queue) DO NOTHING;
</pre>

<h5>Пример второй, где обновлется дата</h5>
<pre>
    CREATE TABLE stage.qm (
    broker varchar(40) NULL,
    "groups" varchar(40) NULL,
    application varchar(40) NULL,
    "date" date NULL,
    CONSTRAINT qual_namef_unique UNIQUE (broker, groups, application)
    );
</pre>
<pre>
    INSERT INTO stage.qm (broker, groups, application, date) 
    VALUES ('$BRK', '$eg', '${array[$i]}', TO_DATE('${darray[$i]}', 'MM/DD/YY') ) 
    ON CONFLICT (broker, groups, application) 
    DO UPDATE SET date = TO_DATE('${darray[$i]}', 'MM/DD/YY');
</pre>


{% endblock %}
