{% extends 'homepage/base.html' %}
{% block content %}
<h1>Освобождение дескриптора</h1>

<h4>Симптомы<hr></h4>
<ul>
    <li>После удаления файла место на диске не освободилось.</li>
</ul>

<h4>Решение<hr></h4>
<p>После удаления файла не освободилось место на диске, потому что процесс удерживает этот файл и есть открытый дескриптор.<br>
Для решения этой проблемы есть несколько вариантов решения:</p>
<ol>
    <li>Убить процесс</li>
    <li>Освободить дескриптор</li>
</ol>

<p>Первый варинт не самый разумный, потому что процесс может быть важным и не должен быть перезапущен принудительно.<br>
Воспользуемся вторым вариантом и освободим дескриптор.</p>

<p>Командой lsof найдем тот самый дескриптор</p>
<pre>
    root@localhost:~# lsof | grep deleted
    tail      34531                            root    3r      REG              252,1        0      21514 /var/log/test.log (deleted)
</pre>
<p>В выводе показано, что файл test.log с меткой deleted. <br>
Так же видим <b>PID 34531</b> процесса, который держит этот файл и номер дескриптора <b>3</b> на чтение.</p>

<p>Зная PID найдем номер дескриптора</p>
<pre>
    root@localhost:~# ls -l /proc/34531/fd
    total 0
    lr-x------ 1 root root 64 Sep  5 13:33 3 -> '/root/out.txt (deleted)'
</pre>

<p>И освободим его командой</p>
<pre>
    cat /dev/null > /proc/<b>34531</b>/fd/<b>3</b>
</pre>
<p>В этом случае сам файл останется в файловой системе пока процесс не завершится, но размер файла будет 0 байт и место на диске высвободится.</p>

{% endblock %}