{% extends 'homepage/base.html' %}
{% block content %}
<h1>Tar</h1>

<h5>Создание архива</h5>
<pre>
    tar -czvf new_name.tar.gz name_folder
</pre>
<p>чтобы сохранить архив в другом месте, можно воспользоваться флагом <b>-C</b>. </p>

<p>В архивируемые файлы можно передать несколько файлов</p>
<pre>
    tar -czvf archive.tar.gz file1 file2 file3 -C ~/
</pre>

<p>Параметры команды:</p>
<ul>
    <li><b>-c</b>  - создать новый архив</li>
    <li><b>-z</b>  - использовать gzip для сжатия</li>
    <li><b>-v</b>  - отображать подробную информацию о процессе архивации</li>
    <li><b>-f</b>  - указывает имя файла для архива</li>
</ul>

<h5>Просмотр содержимого</h5>
<pre>
    tar -tzvf archive.tar.gz
</pre>

<p>Параметры команды:</p>
<ul>
    <li><b>-t</b>  - отобразить список файлов в архиве</li>
    <li><b>-z</b>  - использовать gzip для распаковки архива</li>
    <li><b>-v</b>  - отображать подробную информацию о процессе распаковки</li>
    <li><b>-f</b>  - указывает имя файла для распаковки</li>
</ul>

<h5>Распаковка архива tar.gz</h5>
<pre>
    tar -xzvf file_name.tar.gz
</pre>
<p>Параметры команды:</p>
<ul>
    <li><b>-x</b>  - извлечь файлы из архива</li>
    <li><b>-z</b>  - использовать gzip для распаковки архива</li>
    <li><b>-v</b>  - отображать подробную информацию о процессе распаковки</li>
    <li><b>-f</b>  - указывает имя файла для распаковки</li>
</ul>

{% endblock %}
